* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 
  /* Скрываем значок мобильного телефона */
  #ar-prompt {
  display: none;
  }
  
  /* Делаем 3D плеер на весь браузер */
  model-viewer {
  margin-left: 25%;
  height: 50vh;
  width: 50%;
  }

#viewer{
  background-color: silver;
  color: green;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

section {
  margin-top: 20px;
}

section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.shape-form {
  display: none;
  margin-top: 20px;
  text-align: center;
}

input[type="number"] {
  padding: 5px;
  margin: 10px;
  width: 150px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

section {
  margin-top: 20px;
}

section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.shape-form {
  display: none;
  margin-top: 20px;
  text-align: center;
}

input[type="number"] {
  padding: 5px;
  margin: 10px;
  width: 150px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9em;
}

#formulas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#formulas ul li{
  list-style-type: none;
}

#calculations{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
}